<section class="bg-image" style="background-image:url('../assets/white/img/login.jpeg')">
    <div class="bg-image">
        

<div class="container-fluid py-4"> 
  
</div>
        <div class="row justify-content-center" >
            <div class="col-4 d-flex align-items-center justify-content-center">
                <div class="bg-white shadow border-0 rounded border-light p-4 p-lg-5 w-100 fmxw-500">
                    <div class="text-center text-md-center mb-4 mt-md-0">
                        <h1 class="mb-0 h3"> Créer un compte </h1>
                    </div>
                    <form #signupform="ngForm" (ngSubmit) = "onSubmit()">
                        <!-- Form -->
                        <div class="mb-4">
                            <div>
                                <label>Nom</label>
                                
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon1">
                                    <svg class="icon icon-xs text-gray-600" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/20 00/svg"><path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path><path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path></svg>
                                </span>
                                <input class="form-control"  type="text"  [(ngModel)] = "user.nom" name = "nom" placeholder="  Nom" required 
                                #nom="ngModel" [class.is-invalid]="nom.invalid && nom.touched" >
                            </div>
                            <small class="text-danger" [class.d-none]="nom.valid || nom.untouched" >veuillez saisir votre nom</small>
                        
                        </div> 
                        </div>
                        <!-- End of Form -->
                        <!-- Form -->
                        <div class="mb-4">
                            <label> Email</label>
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon1">
                                    <svg class="icon icon-xs text-gray-600" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path><path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path></svg>
                                    &nbsp;  </span>
                            <input class="form-control"  type="email" [(ngModel)] = "user.email" name = "email" placeholder="  xx@xx.com" required 
                            pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                            #email="ngModel"
                            [class.is-invalid]="email.invalid && email.touched" >
                        </div>
                        <div *ngIf="email.errors && email.invalid && email.touched" >

                            <small class="text-danger" *ngIf="email.errors.required"> veuillez saisir votre email </small>
                            <small class="text-danger" *ngIf="email.errors.pattern"> l'email doit être valid</small>
                      
                        </div>
                       
                    </div>
                        <!-- End of Form -->
                            <!-- Form -->
                            <div class=" mb-4">
                               
                                    <div>
                                        <label>Mot de passe </label>
                                          <div class="input-group">
                                    <span class="input-group-text" id="basic-addon2">
                                        <svg class="icon icon-xs text-gray-600" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd"></path></svg>
                                    </span>
                                    <input class="form-control" id="mdp"  [(ngModel)] = "user.mdp" name = "mdp" type="password" placeholder="  Mot de passe" required minlength="6"
                                    #mdp="ngModel" [class.is-invalid]="nom.invalid && nom.touched">
                                   </div>  
                                   <div *ngIf="mdp.errors && mdp.invalid && mdp.touched" >

                                    <small class="text-danger" *ngIf="mdp.errors.required"> veuillez saisir votre mot de passe </small>
                                    <small class="text-danger" *ngIf="mdp.errors.minlength">votre mot de passe doit faire au moins 6 caractères</small>
                              
                                </div>
                               

                                </div> </div>
                            <!-- End of Form -->
                           
                          
                       
                        <div class="d-grid">
                            <button class = "btn bg-gradient-dark" type ="submit">S'inscrire</button>
                        </div>
                    </form>
                   
                    
                    <div class="d-flex justify-content-center align-items-center mt-4">
                        <span class="fw-normal">
                            Vous avez déjà un compte? 
                            <a href="/login" class="fw-bold">se connecter</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
      
    </div>
    
<div class="container-fluid py-4"> 
  
</div>
    
</section>

