<aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 " id="sidenav-main">
    <app-sidebar></app-sidebar>
  </aside>
  <main class="main-content position-relative max-height-vh-100 h-100 mt-1 border-radius-lg ">
    <app-navbar></app-navbar>
  
  
  
  <div class="container-fluid py-4"> 
    
  </div>
  <div class="container-fluid py-4">
    <div class="container-fluid py-4"style="float: right;" > 
     
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card mb-4 blur shadow-blur mx-4  overflow-hidden">
         
        
            <div class="table-responsive p-0">
              <table class="table align-items-center mb-0 table-bordered border border-5" > 
                    <tr *ngFor="let dossier of dossiers">
                      {{setfalse()}}
                        <td >
                            <table class="table align-items-center mb-0 table-hover">
                                <thead>
                                    <tr>
                                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Réf Bureau Frontalier</th>
                                     <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Cin</th>
                                     <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Passeport</th>
                                     <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Importateur</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Marque</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Modèle</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">décision</th>
                                   </tr>              
                                  </thead>
                                  <tbody>
                                      <tr class="table-primary">
                                          <td>
                                            <div class="d-flex px-2">
                                              <div class="my-auto">
                                                <h6 class="text-xs font-weight-bold">{{dossier.refbf}}</h6>
                                              </div>
                                            </div>
                                          </td>
                                          <td>
                                            <p class=" mb-0  text-sm">{{dossier.cin}}</p>
                                          </td>
                                          <td>
                                              <p class=" mb-0  text-sm">{{dossier.passport}}</p>
                                            </td>
                                            <td >
                                                <p class=" mb-0  text-sm">{{dossier.importateur}}</p>
                                               </td>
                                          <td >
                                              <p  class="mb-0 text-sm"> {{dossier.marque}}</p>
                                          </td>
                                          <td >
                                              <p  class="mb-0 text-sm"> {{dossier.modele}}</p>
                                          </td>
                                          <td >
                                            
                                        </td>
                                       </tr>
                                       <ng-container *ngFor="let demande of demandes ; let isLast = last ">
                                       <tr *ngIf="demande.refbf==dossier.refbf; else else1">
                                        {{settrue()}}
                                        <td>
                                          <div class="d-flex px-2">
                                            <div class="my-auto">
                                              <h6 class="text-xs font-weight-bold">{{demande.refbf}}</h6>
                                            </div>
                                          </div>
                                        </td>
                                        <td>
                                       
                                              <p class="mb-0  text-sm">{{demande.cin}}</p>
                                            
                                        </td>
                                        <td>
                                          <p class="mb-0  text-sm">{{demande.passport}}</p>
                                        </td>
                                          <td >
                                            <p class=" mb-0  text-sm">{{demande.importateur}}</p>
                                        </td>
                                        <td >
                                            <p  class="mb-0 text-sm"> {{demande.marque}}</p>
                                        </td>
                                        <td >
                                            <p  class="mb-0 text-sm"> {{demande.modele}}</p>
                                        </td>
                                        <td >
                                            <a routerLink ='/pointage' (click) = "refuser(dossier.id, demande.refsw, dossier.refbf)"  class="text-secondary  font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user" >
                                                <i class="far fa-trash-alt me-2"  aria-hidden="true" ></i>
                                                refuser  </a>
                                                <a>&nbsp;      </a>
                                               <a routerLink ='/pointage' (click) = " accepter(dossier.id, demande.refsw, dossier.refbf)"  class="text-secondary  font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                                                 <i class="fas fa-pencil-alt  me-2  "aria-hidden="true"></i>
                                                 accepter
                                               </a>
                                      </td>
                                    
                                    
                                  </tr>
                                     <ng-template #else1>
                                       <tr *ngIf="isLast && !istrue">
                                        <td  colspan="7" >
                                                <p  class="mb-0 text-sm text-secondary text-center">Aucune demande trouvée</p>
                                            </td></tr>
                                     </ng-template> 
                                    </ng-container>
                                    
                                   
                                           
                                        
                                  </tbody>
                            </table>
                          </td>
                </tr>     
              </table>
            </div>
        
        </div>
      </div>
      
    </div>
  </div>
  
  
  
  
  </main>
  